.run-workout {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  max-width: 1360px;
}

.run-workout > .form-input {
  padding-right: 10px;
  align-self: flex-end;
}

.react-time-picker {
  background-color: white;
  border: none;
  border-radius: 8px;
}

.react-time-picker__wrapper {
  border-radius: 8px;
  padding: 0px 4px;
}

.react-time-picker__inputGroup__input {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.react-time-picker__inputGroup__input::selection {
  background: aliceblue;
}

.btn-estimate {
  background-color: rgb(0, 196, 106);
  color: white;
  border: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}

.btn-estimate:hover {
  background-color: rgb(0, 150, 81);
}
