.x-axis {
  position: absolute;
  bottom: 0px;

  border-top: 1px solid rgba(100, 116, 139, 0.5);
  overflow: hidden;
  min-width: 1320px;
  color: #64748b;
  font-size: 0.73rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.x-axis > span {
  position: relative;
  display: inline-block;
  margin-top: 14px;
  padding: 0;
}

.x-axis.x-axis-time > span {
  width: 200px;
}
.x-axis.x-axis-distance > span {
  width: 100px;
}

.x-axis > span::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  top: -14px;
  left: 0;
  background-color: rgba(100, 116, 139, 0.65);
}
