.intervals {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.buttons {
  position: absolute;
  margin-top: -30px;
}

.buttons > button:first-child {
  margin-right: 4px;
}

.buttons > button {
  background-color: rgb(0, 196, 106);
  color: white;
  font-size: large;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  cursor: pointer;
}

.buttons > button:hover {
  background-color: rgb(0, 150, 81);
}
