.trapeze {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.trapeze-component {
  border: 0;
  border-top: 1px dotted gray;
  background: transparent;
  box-shadow: none;
  outline: none;
  z-index: 5;
}

.trapeze-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: blue;
}

.trapeze-colors {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
}

.color:first-child {
  border-bottom-left-radius: 5px;
}

.color:last-child {
  border-bottom-right-radius: 5px;
}
